@page
@model HorariosModel
@{
    ViewData["Title"] = "Horarios";
}
<center>
    <div>
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Horarios</h3>
            </div>

            <div>
                <input type="submit" value="Nuevo" class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Horario != null)" />
                <input type="submit" value="Refrescar" class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit" value="Guardar" class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Horario == null)" />
            </div>

            @if (Model.Horario != null)
            {
                <div>
                    <div class="form-group">
                        <label>Id</label>
                        <div class="col-6">
                            <input id="inId" class="cts_forms form-control" asp-for="@Model.Horario!.Id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>HoraInicio</label>
                        <div class="col-6">
                            <input id="inHoraInicio" class="form-control" asp-for="@Model.Horario!.HoraInicio" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>HoraFin</label>
                        <div class="col-6">
                            <input id="inHoraFin" class="form-control" asp-for="@Model.Horario!.HoraFin" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Turno</label>
                        <div class="col-6">
                            <input id="inTurno" class="form-control" asp-for="@Model.Horario!.Turno" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Descripcion</label>
                        <div class="col-6">
                            <input id="inDescripcion" class="form-control" asp-for="@Model.Horario!.Descripcion" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Estado</label>
                        <div class="col-6">
                            <input id="inEstado" asp-for="@Model.Horario!.Estado" />
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            }

            @if (Model.Horario != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="Left">Desea borrar el Horario?</h6>
                            <h6 align="Left">@Model.Horario!.Turno</h6>
                            <input type="submit" value="Cerrar" asp-page-handler="BtCerrar" class="btn btn-secondary" />
                            <input type="submit" value="Borrar" asp-page-handler="BtBorrar" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>Id</th>
                        <th>HoraInicio</th>
                        <th>HoraFin</th>
                        <th>Turno</th>
                        <th>Descripcion</th>
                        <th>Estado</th>
                    </tr>
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <th>@elemento.Id</th>
                            <th>@elemento.HoraInicio</th>
                            <th>@elemento.HoraFin</th>
                            <th>@elemento.Turno</th>
                            <th>@elemento.Descripcion</th>
                            <th>@elemento.Estado</th>
                            <td>
                                <input type="submit" value="Modificar" asp-page-handler="BtModificar"
                                       class="btn btn-secondary" asp-route-data="@elemento.Id" />
                                <input type="submit" value="Borrar" asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary" asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>
