@page
@model InventariosModel
@{
    ViewData["Title"] = "Inventarios";
}
<center>
    <div>
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Inventarios</h3>
            </div>

            <div>
                <input type="submit" value="Nuevo" class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Inventario != null)" />
                <input type="submit" value="Refrescar" class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit" value="Guardar" class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Inventario == null)" />
            </div>

            @if (Model.Inventario != null)
            {
                <div>
                    <div class="form-group">
                        <label>Id</label>
                        <div class="col-6">
                            <input id="inId" class="cts_forms form-control" asp-for="@Model.Inventario!.Id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <div class="col-6">
                            <input id="inNombre" class="form-control" asp-for="@Model.Inventario!.Nombre" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>EstadoProducto</label>
                        <div class="col-6">
                            <input id="inEstadoProducto" asp-for="@Model.Inventario!.EstadoProducto" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tipo</label>
                        <div class="col-6">
                            <input id="inTipo" class="form-control" asp-for="@Model.Inventario!.TipoInventario" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Cantidad</label>
                        <div class="col-6">
                            <input id="inCantidad" class="cts_forms form-control" asp-for="@Model.Inventario!.Cantidad" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Proveedor</label>
                        <div class="col-6">
                            <input id="inProveedor" asp-for="@Model.Inventario!.Proveedor" />
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            }

            @if (Model.Inventario != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="Left">Desea borrar el Inventario?</h6>
                            <h6 align="Left">@Model.Inventario!.Nombre</h6>
                            <input type="submit" value="Cerrar" asp-page-handler="BtCerrar" class="btn btn-secondary" />
                            <input type="submit" value="Borrar" asp-page-handler="BtBorrar" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>EstadoProducto</th>
                        <th>Tipo</th>
                        <th>Cantidad</th>
                        <th>Proveedor</th>
                    </tr>
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <th>@elemento.Id</th>
                            <th>@elemento.Nombre</th>
                            <th>@elemento.EstadoProducto</th>
                            <th>@elemento.TipoInventario</th>
                            <th>@elemento.Cantidad</th>
                            <th>@elemento.Proveedor</th>
                            <td>
                                <input type="submit" value="Modificar" asp-page-handler="BtModificar"
                                       class="btn btn-secondary" asp-route-data="@elemento.Id" />
                                <input type="submit" value="Borrar" asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary" asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>
