@page
@model OfertasModel
@{
    ViewData["Title"] = "Ofertas";
}
<center>
    <div>
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Ofertas</h3>
            </div>

            <div>
                <input type="submit" value="Nuevo" class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Oferta != null)" />
                <input type="submit" value="Refrescar" class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit" value="Guardar" class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Oferta == null)" />
            </div>

            @if (Model.Oferta != null)
            {
                <div>
                    <div class="form-group">
                        <label>Id</label>
                        <div class="col-6">
                            <input id="inId" class="cts_forms form-control" asp-for="@Model.Oferta!.Id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>FechaLimite</label>
                        <div class="col-6">
                            <input id="inFechaLimite" class="cts_forms form-control" asp-for="@Model.Oferta!.FechaLimite" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Descuento</label>
                        <div class="col-6">
                            <input id="inDescuento" class="cts_forms form-control" asp-for="@Model.Oferta!.Descuento" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <div class="col-6">
                            <input id="inNombre" class="form-control" asp-for="@Model.Oferta!.Nombre" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Estado</label>
                        <div class="col-6">
                            <input id="inEstado" asp-for="@Model.Oferta!.Estado" />
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            }

            @if (Model.Oferta != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="Left">Desea borrar la Oferta?</h6>
                            <h6 align="Left">@Model.Oferta!.Nombre</h6>
                            <input type="submit" value="Cerrar" asp-page-handler="BtCerrar" class="btn btn-secondary" />
                            <input type="submit" value="Borrar" asp-page-handler="BtBorrar" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>Id</th>
                        <th>FechaLimite</th>
                        <th>Descuento</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                    </tr>
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <th>@elemento.Id</th>
                            <th>@elemento.FechaLimite</th>
                            <th>@elemento.Descuento</th>
                            <th>@elemento.Nombre</th>
                            <th>@elemento.Estado</th>
                            <td>
                                <input type="submit" value="Modificar" asp-page-handler="BtModificar"
                                       class="btn btn-secondary" asp-route-data="@elemento.Id" />
                                <input type="submit" value="Borrar" asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary" asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>
