@page
@model ProveedoresModel
@{
    ViewData["Title"] = "Proveedores";
}
<center>
    <div>
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Proveedores</h3>
            </div>

            <div>
                <input type="submit" value="Nuevo" class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Proveedor != null)" />
                <input type="submit" value="Refrescar" class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit" value="Guardar" class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Proveedor == null)" />
            </div>

            @if (Model.Proveedor != null)
            {
                <div>
                    <div class="form-group">
                        <label>Id</label>
                        <div class="col-6">
                            <input id="inId" class="cts_forms form-control" asp-for="@Model.Proveedor!.Id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <div class="col-6">
                            <input id="inNombre" class="form-control" asp-for="@Model.Proveedor!.Nombre" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <div class="col-6">
                            <input id="inTelefono" class="form-control" asp-for="@Model.Proveedor!.Telefono" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <div class="col-6">
                            <input id="inCorreo" class="form-control" asp-for="@Model.Proveedor!.Correo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>TipoProducto</label>
                        <div class="col-6">
                            <input id="inTipoProducto" class="form-control" asp-for="@Model.Proveedor!.TipoProducto" />
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            }

            @if (Model.Proveedor != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="Left">Desea borrar el Proveedor?</h6>
                            <h6 align="Left">@Model.Proveedor!.Nombre</h6>
                            <input type="submit" value="Cerrar" asp-page-handler="BtCerrar" class="btn btn-secondary" />
                            <input type="submit" value="Borrar" asp-page-handler="BtBorrar" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>TipoProducto</th>
                    </tr>
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <th>@elemento.Id</th>
                            <th>@elemento.Nombre</th>
                            <th>@elemento.Telefono</th>
                            <th>@elemento.Correo</th>
                            <th>@elemento.TipoProducto</th>
                            <td>
                                <input type="submit" value="Modificar" asp-page-handler="BtModificar"
                                       class="btn btn-secondary" asp-route-data="@elemento.Id" />
                                <input type="submit" value="Borrar" asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary" asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>
